@charset "UTF-8";
html {
  font-size: 62.5%; }

/* header------------------------*/
body {
  background-color: #f9f8f6;
  font-family: "ヒラギノ角ゴ Pro W3", sans-serif; }

header {
  background-color: #f9f8f6; }
  header #header-in {
    padding-top: 20px;
    padding-bottom: 20px; }
  @media (max-width: 1000px) {
    header .pc_navi {
      display: none; }
    header .logo {
      text-align: center;
      margin-bottom: 10px; }
    header .sp_navi_bottun {
      text-align: center; }
      header .sp_navi_bottun img {
        margin: 0 7px; }
    header .sp_navi_li {
      position: absolute;
      top: 107px;
      right: 2%;
      border: 1px solid #887f69;
      border-bottom: none;
      list-style: none;
      display: none;
      z-index: 100;
      background-color: white; }
      header .sp_navi_li li {
        padding: 10px 8px;
        border-bottom: 1px solid #887f69;
        font-size: 14px;
        text-decoration: none;
        margin-bottom: 0; } }
  @media (min-width: 1000px) {
    header .sp_navi {
      display: none; }
    header .pc_navi {
      position: absolute;
      bottom: 20px; }
      header .pc_navi #menu_login {
        display: inline-block; }
      header .pc_navi #menu_cart {
        display: inline-block;
        margin-left: 7px; }
      header .pc_navi #menu_mypage {
        display: inline-block;
        margin-left: 7px; }
      header .pc_navi #menu_guide {
        display: inline-block;
        margin-left: 7px; }
      header .pc_navi #fb_btn {
        display: inline-block;
        margin-left: 7px; }
      header .pc_navi #insta_btn {
        display: inline-block;
        margin-left: 5px; } }

/* ----------.contents---------- */
.title {
  text-align: center;
  margin: 10px 0; }

/* --------item-area----------*/
.item {
  width: 43.5%;
  float: left;
  background-color: white;
  padding: 3%;
  margin-right: 1%;
  margin-bottom: 1%; }
  .item p {
    font-size: 0.75em; }

@media (max-width: 1000px) {
  .item:nth-child(2n) {
    margin-right: 0; } }
@media (min-width: 1000px) {
  .item {
    width: 26.6666666%; }

  .item:nth-child(3n) {
    margin-right: 0; } }
.clearfix::after, .bottun::after {
  content: '';
  display: block;
  clear: both; }

#guide-area {
  font-family: "ヒラギノ角ゴ Pro W６", "Avenir Next", sans-serif; }
  #guide-area .otodoke {
    display: block;
    background-color: white;
    padding: 2.5rem;
    margin-bottom: 2%; }
    #guide-area .otodoke h2 {
      font-size: 2rem;
      color: #887f69;
      margin-bottom: 2.5rem;
      line-height: 1.5rem;
      font-family: "ヒラギノ角ゴ Pro W６", "Avenir Next", sans-serif; }
    #guide-area .otodoke h3 {
      font-size: 1.5rem;
      color: #887f69;
      margin-bottom: 5px; }
    #guide-area .otodoke p {
      margin-bottom: 10px; }
  #guide-area .kessai {
    display: block;
    background-color: white;
    padding: 2.5rem; }
    #guide-area .kessai h2 {
      font-size: 2rem;
      color: #887f69;
      margin-bottom: 2.5rem;
      line-height: 1.5rem;
      font-family: "ヒラギノ角ゴ Pro W６", "Avenir Next", sans-serif; }
    #guide-area .kessai h3 {
      font-size: 1.5rem;
      color: #887f69;
      margin-bottom: 5px; }
    #guide-area .kessai p {
      margin-bottom: 10px; }
  @media (min-width: 1000px) {
    #guide-area .otodoke {
      float: left;
      width: 43%;
      padding: 3%;
      margin-right: 2%;
      margin-bottom: 0;
      height: 25rem; }
    #guide-area .kessai {
      float: left;
      width: 43%;
      padding: 3%;
      height: 25rem; } }

/* side bar --------------------*/
.sidebar .itemserch {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px; }
  .sidebar .itemserch img {
    margin-bottom: 5px; }
  .sidebar .itemserch .search-box {
    padding: 10px;
    background-repeat: no-repeat;
    background-color: #eeeeee;
    background-position: 90% 50%;
    background-image: url(../images/top/search_icon.png); }
    .sidebar .itemserch .search-box p {
      color: #b5b5b5;
      font-style: italic;
      font-size: 0.6875rem;
      margin-bottom: 0; }
@media (max-width: 1000px) {
  .sidebar .itemserch {
    margin-top: 10px; }
    .sidebar .itemserch #item-search {
      display: none; } }
.sidebar .pagelink .pagelink-title {
  background-color: #887f69;
  margin-bottom: 5px;
  padding: 15px 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url(../images/top/next_icon.png); }
.sidebar .categories .categories_title {
  background-color: #887f69;
  padding: 15px 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url(../images/top/down_icon.png); }
.sidebar .categories li {
  list-style: none;
  background-color: white;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 1px;
  font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: 0.75rem;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url(../images/top/next_icon_gray.png); }
.sidebar .about .about-title {
  background-color: #887f69;
  padding: 15px 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url(../images/top/next_icon.png); }
.sidebar .about .about-contents {
  background-color: white;
  padding: 10px; }
  .sidebar .about .about-contents p {
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
    font-size: 0.75rem; }
  .sidebar .about .about-contents #more_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
@media (max-width: 550px) {
  .sidebar .about .about-contents img {
    width: 47.5%;
    display: block;
    float: left;
    margin-right: 5%; }
  .sidebar .about .about-contents .about-text {
    width: 47.5%;
    display: block;
    float: left; }
    .sidebar .about .about-contents .about-text p {
      margin-bottom: 0.625rem;
      font-size: 1.1rem; }
    .sidebar .about .about-contents .about-text #more_btn {
      width: 75%;
      height: auto; }
  .sidebar .about .about-contents .clearfix::after, .sidebar .about .about-contents .bottun::after {
    content: '';
    display: block;
    clear: both; } }
.sidebar .shopinfo .shop-title {
  background-color: #887f69;
  padding: 15px 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-image: url(../images/top/next_icon.png); }
.sidebar .shopinfo .shop-contents {
  background-color: white;
  padding: 10px; }
  .sidebar .shopinfo .shop-contents p {
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
    font-size: 0.75rem; }
  .sidebar .shopinfo .shop-contents #more_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
@media (max-width: 550px) {
  .sidebar .shopinfo .shop-contents img {
    width: 47.5%;
    display: block;
    float: left;
    margin-right: 5%; }
  .sidebar .shopinfo .shop-contents .shop-text {
    width: 47.5%;
    display: block;
    float: left; }
    .sidebar .shopinfo .shop-contents .shop-text p {
      margin-bottom: 0.625rem;
      font-size: 1.1rem; }
    .sidebar .shopinfo .shop-contents .shop-text #more_btn {
      width: 75%;
      height: auto; }
  .sidebar .shopinfo .shop-contents:after {
    content: '';
    display: block;
    clear: both; } }

/* fotter ----------------*/
#pagetop {
  display: block;
  margin: 2rem auto; }

.fotter-line {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #887f69; }

.link {
  text-align: center;
  font-size: 1.3rem; }

.copy {
  color: #b8b4ac;
  font-size: 1rem;
  text-align: center; }

@media (min-width: 1000px) {
  #pagetop {
    margin-right: 0;
    margin-top: 3rem;
    margin-bottom: 3rem; }

  .copy {
    font-size: 0.625rem; } }
/* List.html ---------------------*/
.index {
  background-repeat: no-repeat;
  background-position: 3% 49%;
  background-size: 1.5rem;
  background-image: url(../images/list/home_icon.png);
  background-color: #e8e4da;
  padding: 3%;
  margin-bottom: 1rem; }
  .index p {
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
    font-size: 1.1rem;
    color: #887f69;
    display: block;
    margin: auto 0 auto 2rem; }

@media (min-width: 1000px) {
  .index {
    padding: 3%; }
    .index p {
      font-size: 0.68rem; } }
.cover {
  margin: 10px 0; }

@media (min-width: 1000px) {
  #image_sp {
    display: none; } }
@media (max-width: 1000px) {
  #image_pc {
    display: none; } }
.list_contents {
  margin-left: 0; }

.bottun {
  font-family: "Avenir Next", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.75rem;
  margin: 15px 0;
  letter-spacing: 0.05rem; }
  .bottun .back_btn {
    background-color: #887f69;
    width: 20%;
    padding: 2.5%;
    text-align: center;
    display: block;
    float: left;
    margin-right: 50%; }
  .bottun .next_btn {
    background-color: #887f69;
    width: 20%;
    padding: 2.5%;
    text-align: center;
    display: block;
    float: left; }

@media (min-width: 100px) {
  .bottun {
    font-size: 0.875rem; } }
@media (min-width: 1000px) {
  #title_sp {
    display: none; } }
@media (max-width: 1000px) {
  #title_pc {
    display: none; } }
#title_pc {
  width: 100%;
  margin: 20px 0; }

/* product.html ------------------*/
.product-contents {
  background-color: white; }

.product-name {
  margin-top: 1.5rem; }
  .product-name h3 {
    font-family: "ヒラギノ角ゴ Pro W６", "Avenir Next", sans-serif;
    font-size: 1.75rem;
    padding: 1rem 0 0 0;
    margin-bottom: 0;
    font-weight: bold; }
  .product-name .product-number {
    color: #a6a6a6;
    font-size: 1.25rem;
    margin-bottom: 1.5rem; }

.display_img img {
  width: 100%; }

#list_img {
  margin-bottom: 0; }

.product_list {
  text-align: center;
  list-style: none;
  width: 18.5%;
  display: inline-block;
  cursor: pointer; }

.product-details {
  margin: 1rem 0; }

@media (min-width: 1000px) {
  .product-contents-in {
    margin-left: 11.1111111%;
    padding-top: 2%;
    padding-bottom: 5%; }

  .product-name {
    width: 80%; }
    .product-name h3 {
      display: inline-block; }
    .product-name .product-number {
      display: inline-block;
      margin-left: 50%; }

  .display_img {
    width: 80%; }

  .list-img {
    margin-left: 1%;
    margin-right: 33.33333%; }

  .product_list {
    width: 35%;
    display: block;
    float: left;
    margin-right: 2%;
    margin-bottom: 0; } }
.details {
  width: 100%; }
  .details img {
    margin-right: 2rem; }
  .details hr {
    margin: 1.3rem 0; }
  .details table {
    width: 100%; }
  .details th {
    color: #887f69;
    font-size: 0.75rem;
    width: 33.3333333%;
    text-align: center;
    border: 1px solid #e8e4da; }
  .details .price {
    color: #e80f66;
    font-size: 2.75rem;
    font-style: italic;
    display: inline-block; }
    .details .price .small {
      font-size: 1.5rem; }
    .details .price .black {
      color: black;
      font-size: 1.5rem; }
  .details .text {
    font-size: 1.3rem; }
  .details input {
    margin-bottom: 0; }
  .details #add-to-cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem; }
  .details h3 {
    color: #887f69;
    font-size: 1.7rem;
    font-weight: 600; }
  .details .product-detail-line {
    border-top: 1px solid #887f69; }
  .details tr th {
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
    font-weight: 300; }
  .details tr .title {
    width: 11%;
    padding: 1rem;
    font-size: 1.1rem; }
  .details tr .text {
    text-align: left;
    font-size: 1.1rem; }

@media (min-width: 1000px) {
  .details {
    width: 80%; }
    .details h3 {
      font-size: 1rem; }
    .details .price-title {
      display: block; } }
.recent {
  margin-left: 0; }

.guide {
  margin-left: 0; }

/*# sourceMappingURL=style.css.map */
